
.form-control-lg {
    height: calc(1.5em + 3rem + 2px);
}

label {
    margin-bottom: 0.25rem;
    font-weight: 600;
}

.alert {
    position: absolute;
    top: 0px;
    min-width: 50%;
}


/* .close.clear-input {
    right: 1rem;
    top: 2rem;
    position: absolute;
} */